.sidemenu {
  margin-left: 0px;
  padding: 4px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  background-color: #f5f6f7;
  width: 44px;
  height: calc(100% - 15px);
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #dadbdc;
  position: absolute;
  top: 0px;
  left: 0px;
}

.tbtn {
  cursor: pointer;
  border: 1px solid transparent;
  width: 36px;
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  border-radius: 3px;
  background: transparent;
  visibility: visible;
  font-size: 14px;
  color: #555;
}

.tbtn .tb-label {
  font-size: 7px;
  line-height: 1;
  color: #777;
}

.tbtn:hover {
  border-color: #a4cef9;
  background-color: rgba(164, 206, 249, 0.58);
}

.tbtn:hover .tb-label {
  color: #444;
}

.tbtn:active {
  border-color: #1979ca;
  background-color: rgba(164, 206, 249, 0.8) !important;
}

.tbtnactive {
  box-shadow: 0.5px 0.5px 1px #555 inset;
  border-color: #1979ca;
  background-color: rgba(164, 206, 249, 0.2) !important;
}
